<h1>This is Ticket Viewer Homepage</h1>

<button class="connect-button" id="connect-button">Connect to Zendesk</button>
<ul>
    <% for (i=0; i < tickets.length; i++) { %>

        <li>
            <%= tickets[i].id %>
                <div>
                    <%= JSON.stringify(tickets[i]) %>
                </div>
        </li>

        <% } %>
</ul>
<script type="text/javascript" src="/static/home.js"></script>